{% extends 'base.html' %}


{% block title %} Login {% endblock %}

{% block main %}
<div class="container-fluid main-login">
    <div class="row">
        <div class="col-lg-12 flash-msg">
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                {% for category, message in messages %}
                {% if category == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p class="flash-msg1">{{message}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p class="flash-msg1">{{message}}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {%  endif %}
                {% endfor%}
                {% endif %}
                {% endwith %}    
        </div>
    </div>
    <div class="row login-text">
      <div class="col-lg-8">
        <h1>Please login to give your valuable feedback on the blog.</h1>
      </div>
    </div>
</div>
<div class="container-fluid login-form">
    <div class="row">
        <div class="col-lg-12">
            <form action="{{url_for('login')}}" method="POST">
                {{form.csrf_token}}
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.email.label}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.email}}
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.password.label}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.password}}
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.login(class = 'form-group-btn btn-primary')}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
