{% extends 'base.html' %}


{% block title %} Login {% endblock %}

{% block main %}
<div class="container-fluid new-post-main">
    <div class="container">
      <div class="row post-text">
        <div class="col-lg-8">
          <h1>Share your blog with us.</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            {{ ckeditor.load() }}
            
            {{ ckeditor.config(name='body') }}
            
            <form action="{{url_for('new_post')}}" method="POST">
                {{form.csrf_token}}
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.title.label}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.title(class = 'input-group-new')}}
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                  <div class="form-group text-white floating-label-form-group controls">
                      {{form.author_name.label}} <br>
                    <p class="help-block text-danger"></p>
                  </div>
              </div>
              <div class="control-group">
                  <div class="form-group text-white floating-label-form-group controls">
                      {{form.author_name(class = 'input-group-new')}}
                    <p class="help-block text-danger"></p>
                  </div>
              </div>
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.date.label}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.date(class = 'input-group-new')}}
                      <p class="help-block text-danger"></p>
                    </div>
                </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.body.label}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.body(class = 'input-group')}}
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group text-white floating-label-form-group controls">
                        {{form.submit(class = 'form-group-btn btn-primary btn-form-new')}} <br>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock %}
