{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}



{% block title %} Login {% endblock %}

{% block main %}
<div class="container-fluid post-read-main">
    <div class="row">
        <div class="col-lg-12">
           <h1>{{post.title}}</h1>
           <h5>Written by: {{post.author_name}} on {{post.date}}</h5>
           <h6>{{post.body}}</h6>
        </div>       
    </div>
</div>
<div class="container-fluid post-read-cmt">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                {{ckeditor.load()}}
                {{ckeditor.config(name='comment_text')}}
                <form method="POST">
                    {{form.csrf_token}}                    
                      <div class="control-group">
                        <div class="form-group text-white floating-label-form-group controls">
                            {{form.comment_text.label}} <br>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="form-group text-white floating-label-form-group controls">
                            {{form.comment_text(class = 'input-group')}}
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="form-group text-white floating-label-form-group controls">
                            {{form.submit(class = 'form-group-btn btn-primary btn-form-new')}} <br>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                </form>
            </div>
            <div class="comment">
                {% for comment in post.comments: %}
                <ul class="commentList">
                    <li>
                        <div class="commenterImage">
                            <img src="{{ comment.comment_author.email | gravatar }}"/>
                            <span class="date sub-text"> <em>{{comment.comment_author.username}}</em></span>

                       </div>
                        <div class="commentText">
                            {{comment.text|safe}}
    
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
